apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: postgresql-statestore
  namespace: todo-app
spec:
  type: state.postgresql
  version: v1
  metadata:
  - name: connectionString
    secretKeyRef:
      name: postgresql-secret
      key: connectionUrl
  - name: actorStateStore
    value: "true"