apiVersion: v1
kind: Service
metadata:
  name: audit-service
  namespace: todo-app
  labels:
    app: audit-service
spec:
  selector:
    app: audit-service
  ports:
    - protocol: TCP
      port: 8003
      targetPort: 8003
  type: ClusterIP